<div id="main-body">
    <div fxLayoutAlign="center" fxLayout="column">
        <div>
            <div fxFlex></div>
            <img class="centered" src="./assets/Icons/under-construction.png">
            <div fxFlex></div>
        </div>
        <div fxLayout="row">
            <h1 class="mat-title uc-title">This page is currently under-construction</h1>
        </div>
        <div fxLayout="row">
            <div fxFlex></div>
            <button mat-raised-button>Return to landing Page</button>
            <div fxFlex></div>
        </div>
    </div>
</div>