<div>
    <div *ngIf="auth.user$ | async; then authenticated else guest" id="authContainer">
        <!-- template will replace this div -->
    </div>

    <!-- User NOT logged in -->
    <ng-template #guest>
        <div id="account-stat">
            <h4 class="mat-headline">Welcome to <span class="mat-headline" style="color:green;">Turtle </span>Journal</h4>
            <p class="mat-body">Login or Register to get started</p>

            <button mat-raised-button (click)="auth.googleSignin()">
            <i class="fa fa-google"></i> Connect with Google
            </button>
        </div>
    </ng-template>


    <!-- User logged in -->
    <ng-template #authenticated>
        <div *ngIf="auth.user$ | async as user" id="account-stat">
            <h4 class="mat-headline">Welcome Back, {{ user.displayName }}</h4>
            <p class="mat-body-1">UID: {{ user.uid }}</p>
            <button mat-raised-button class="btn" (click)="auth.signOut()">Logout</button>
        </div>
    </ng-template>
</div>