<div class="card" *ngIf="expanded ; else expandable">
    <div class="card-content">
        <i class="fa fa-times top right" style="right: 0%; size: 200%; cursor: pointer" (click)="closeWindow()"></i>
        <span class="card-title">Add Trade</span>
        <form (ngSubmit)="onSubmit()" class="col s6">
            <div class="row">
                <div class="datepicker-calendar-container" style="padding:3px;">
                    <div class="row">
                        <input [matDatepicker]="myDatepicker">
                        <mat-datepicker #myDatepicker></mat-datepicker>
                        <div class="input-field col s3" style="padding:5px;margin:auto;">
                            <div class="btn green" (click)="switchType()" *ngIf="trade.type == true;else short">Long</div>
                            <label class="active">Selected:</label>
                        </div>
                        <div class="btn" (click)="getTime()">get Time</div>
                        <div class="input-field col s3">
                            <input type="number" [(ngModel)]="risk" placeholder="risk value" name="risk" (input)="getStopLoss()">
                        </div>


                        <ng-template #short>
                            <div class="btn red" (click)="switchType()">Short</div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" placeholder="Pair" [(ngModel)]="trade.pair" name="pair">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Entry Price" [(ngModel)]="trade.entry" name="entry" id="entry" #entry (input)="getStopLoss()">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Entry Amount" [(ngModel)]="trade.amount" name="amount" id="amount" (input)="getStopLoss()">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="number" placeholder="Stop-Loss" [(ngModel)]="trade.stopLoss" name="stopLoss" id="stopLoss">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Exit Price" [(ngModel)]="trade.exit" name="exit" #exit>
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Profit" [(ngModel)]="this.profit" name="profit">
                </div>
            </div>
            <div class="row">
                <input type="submit" class="right btn" value="Submit">
            </div>
        </form>
    </div>
</div>

<ng-template #expandable>
    <div class="btn" (click)="changeState()">Add Trade</div>
</ng-template>