<div class="card" *ngIf="expanded ; else expandable">
    <div class="card-content">
        <i class="fa fa-times top right" style="right: 0%; size: 200%; cursor: pointer" (click)="closeWindow()"></i>
        <span class="card-title">Add Trade</span>
        <form (ngSubmit)="onSubmit()" class="col s6">
            <div class="row">
                <div class="input-field col s5">
                    <input type="text" class="datepicker" [(ngModel)]="trade.date" name="date">
                </div>
                <div class="input-field col s5">
                    <select>
                        <option value="1">Long</option>
                        <option value="2">Short</option>
                    </select>
                    <label>Select type of trade</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" placeholder="Pair" [(ngModel)]="trade.pair" name="pair">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Entry Price" [(ngModel)]="trade.entry" name="entry" id="entry" #entry onchange="updateInfo()">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Entry Amount" [(ngModel)]="trade.amount" name="amount" id="amount" onchange="updateInfo()">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="number" placeholder="Stop-Loss" [(ngModel)]="trade.stopLoss" name="stopLoss" id="stopLoss">
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Exit Price" [(ngModel)]="trade.exit" name="exit" #exit>
                </div>
                <div class="input-field col s4">
                    <input type="number" placeholder="Profit" [(ngModel)]="this.profit" name="profit">
                </div>
            </div>
            <div class="row">
                <input type="submit" class="right btn" value="Submit">
            </div>
        </form>
    </div>
</div>

<ng-template #expandable>
    <div class="btn" (click)="changeState()">Add Trade</div>
</ng-template>