<div *ngIf="trades?.length" style="background-color:inherit; padding:20px;">
    <div class="row" style="margin-bottom:0%; margin-top:15px;">
        <span class="title col s2">Date:</span>
        <span class="title col s2">Pair:</span>
        <span class="title col s2">Entry:</span>
        <span class="title col s2">Amount:</span>
        <span class="title col s2">Stop-Loss:</span>
        <span class="title col s2">Exit:</span>
    </div>
    <ul class="collection z-depth-3" *ngFor="let item of trades" style="width:100%; margin:5px;">
        <li class="collection-item" style="padding-bottom: 0%; padding-left:0%; padding-right:7px;">
            <div class="row" style="margin-bottom:0;">
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="datetime" [(ngModel)]="item.date" class="validate">-->
                    <span>{{item.date}}</span>
                    <label class="active">Date:</label>
                </div>
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="text" placeholder="Enter Pair:" [(ngModel)]="item.pair" id="pair" class="validate">-->
                    <span>{{item.pair}}</span>
                    <label class="active">Trading Pair:</label>
                </div>
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="text" placeholder="Enter Entry:" [(ngModel)]="item.entry" id="entry" class="validate">-->
                    <span>{{item.entry}}</span>
                    <label class="active">Entry Price:</label>
                </div>
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="text" placeholder="Enter Amount:" [(ngModel)]="item.amount" id="amount" class="validate">-->
                    <span>{{item.amount}}</span>
                    <label class="active">Entry Amount:</label>
                </div>
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="text" placeholder="Stop-loss:" [(ngModel)]="item.stopLoss" id="stopLoss" class="validate">-->
                    <span>{{item.stopLoss}}</span>
                    <label class="active">Stop-loss:</label>
                </div>
                <div class="input-field col s2" style="width: 15%;">
                    <!--<input type="text" placeholder="Exit:" [(ngModel)]="item.exit" id="exit" class="validate">-->
                    <span>{{item.exit}}</span>
                    <label class="active">Exit:</label>
                </div>
                <div class="secondary-content" *ngIf="editState && tradeToEdit.id == item.id; else expanded">
                    <i (click)="closeExpand($event,item)" class="fa fa-times right" style="cursor: pointer;"></i>
                </div>
            </div>
            <div *ngIf="editState && tradeToEdit.id == item.id">
                <form (ngSubmit)="updateEntry()" style="width:20%;padding:10px;">
                    <div class="input-field s2">
                        <input type="text" placeholder="Visual Testing" id="testField">
                        <label class="active" for="testField">Layout Test</label>
                    </div>
                    <input type="submit" class="btn" value="Update Entry">
                </form>
            </div>
        </li>



        <ng-template #expanded>
            <div class="secondary-content">
                <i (click)="editItem($event,item)" class="fa fa-pencil right" style="cursor:pointer;size:300%;"></i>
            </div>
        </ng-template>
    </ul>
</div>