<body class="has-fixed-sidenav" style="padding-left:150px">
    <nav class="top-nav black">
        <div class="container">
            <div class="nav-wrapper col s12 m10">

            </div>
        </div>
    </nav>
    <div class="sidenav sidenav-fixed">
        <ul id="sidenav">
            <a href="/" class="logo-container">
                <h3 class="header-nav nav-title black-text center"><span class="green-text">Turtle</span>Journal</h3>
            </a>
            <li><a href="!#">Dashboard</a></li>
            <li><a href="!#">Entries</a></li>
            <li><a href="!#">Settings</a></li>
        </ul>
    </div>

    <div class="container">
        <app-add-trade></app-add-trade>
        <app-main-list></app-main-list>
    </div>

</body>