<div style="height:40vh;">
    <app-login></app-login>
    <app-registration></app-registration>
</div>
<div id="main-body">
    <div id="solutions">
        <mat-card id="solution-card">
            <div fxLayout="column">
                <mat-card-title class="solContent">
                    <h4>Solutions</h4>
                </mat-card-title>
                <mat-card-content class="solContent">
                    <mat-divider class="solContent"></mat-divider>
                    <div id="solution-inner" class="solContent" fxLayout="row" fxLayoutGap="4rem">
                        <div fxFlex='33' class="solutionIcons">
                            <p>Hello</p>
                        </div>
                        <div fxFlex='33' class="solutionIcons">
                            <p>hello</p>
                        </div>
                        <div fxFlex='33' class="solutionIcons">
                            <p>Hello</p>
                        </div>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>

    </div>
    <mat-divider style="margin: 2rem"></mat-divider>
    <h1 class="mat-headline">News:</h1>
</div>