<mat-toolbar>
    <div href="/" style="cursor: pointer;" routerLink="">
        <strong class="logo logoSecond mat-display-1"><span class="logo logoFirst mat-display-1">Turtle</span>Journal</strong>
    </div>
    <span class="spacer"></span>
    <button mat-button class="menu-button" routerLink="/account">Account</button>
    <button mat-button class="menu-button" routerLink="">Main Page</button>
    <button mat-button class="menu-button" routerLink="/about">About</button>
    <button mat-button><i href="/account" class="menu-button fa fa-user" style="font-size:130%"></i></button>
</mat-toolbar>